@charset "utf-8";

body {
  text-align: center;
  background: #000000;
  color: white;
}

header {
  background-color: #00C3A4;
  height: 30px;
  display: flex;
  position: sticky;
  z-index: 10;
  top: 0;
  /* display: flex;
  position: sticky;
  top: 0;
  height: 27px; width: 100vw; */
}

header h1 {
  color: white;
  font-weight: bold;
  line-height: 30px;
  position: relative;
  left: 10px;
}

header h1:hover {
  transform: rotate(360deg);
  color: #000000;
  transition: 1s;
}

/* 아이콘과 메뉴 반응 */
.menu {
  position: absolute;
  left: 78%; top: 15%;
}

.menu svg {
  fill: #ffffff;
  height: 20px;
}

.menu svg:hover {
  fill: rgb(0, 0, 0);
  transform: rotate(360deg);
  transition: 1s;
}

.menu > li:hover .submenu{
  
  height: 200px;
  transition: 1s;
}

.submenu > li:hover {
  background-color: #ffffff;
  transition: 1s;
  
}

.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;
  color: rgb(0, 0, 0);
  background-color: #00C3A4;
}

.submenu li a{
  display: block;
  width: 70px; height: 50px;
  line-height: 50px;
}

.menu #menu {
  position: relative;
  top: 0; left: 0;
}
.menu #touch {
  position: absolute;
  top: 0; left: 0;
  display: none;
}

.menu:hover #touch {
  display: block;
  left: 40px;
}
/* main ↓  */

.title h2 {
  font-weight: bold;
  font-size: 1.6rem;
  padding: 35px;
}

/* group1 */

.group1 h3 {
  padding: 30px 0;
  font-size: 1.4rem;
}

.group1 {
  font-weight: 600;
}

.group1 li h4{
  padding-bottom: 20px;
  font-size: 1.4rem;
}

.group1 li p {
  width: 300px;
  margin: 0 auto;
  color: #868789;
}

.group1 .featureBox {
  background: #1e1e1e;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px auto;
}

/* group 2 */
.group2 {
  background-color: #212529;
  max-width: 500px; height: 400px;
  margin: 0 auto;
}

.group2 ul {
}

.group2 p {
  font-size: 1.2rem;
  width: 260px;
  margin: 0 auto;
  padding-top: 20px;

}

.group2 ul {
  display: flex;
  flex-flow: wrap;
  width: 400px;
  justify-content: center;
  margin: 0 auto;
}

.group2Box {
  border-radius: 10px;
  margin: 10px;
  margin-top: 30px;
  background-color: #00C3A4;
  width: 100px; height: 100px;
}
.group2Box img {
  width: 50px; height: 50px;
  margin: 25px 25px;
}

.group2Box h4 {
  padding-top: 5px;
  color: #868789;
}

/* group3 */

.group3 a {
  color: #00C3A4;
  text-decoration: underline;
}


/* group4 */

.group4 {
  background-color: #212529;
  display: flex;
  height: 30vh; width: 51vw;
  min-height: 100%;
  min-width: 100%;
  margin: 0 auto;
}

.group4 ul {
  display: flex;
  margin: 0 auto;
}

.group4 ul li {
  line-height: 35px;
  padding: 20px;
}

.group4 .video {
  width: 30vw;  height: 10vh;
  min-width: 100%; min-height: 100%;
  position: absolute;
  right: 0; top: 440vh;
  z-index: 1;
}

/* group5 */

.group5 {
  padding-top: 245px;
}

.group5Box {
  background-color: #00C3A4;
  width: 51vw; height: 20vh;
  min-width: 100%;
  border-radius: 10px;
  line-height: 5vh;
  margin: 0 auto;
}

.group5 li h3{
  font-weight: bold;
  font-size: 1.2rem;
}
.group5 li:nth-child(1n+2) {
  color: #868789;
  font-size: 1.2rem;
  padding-top: 50px;
  padding-left: 20px;
  text-align: left;
}

.group5 img {
  width: 30vw;
  min-width: 100%;
  max-width: 80%;
  padding-bottom: 5vh;
}

/* group6 */
.group6 {
  background-color: #212529;
  width: 50vw; min-width: 100%;
  margin: 0 auto;
}

.group6 h3, .group6 h4 {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: left;
  padding: 20px;
}

.group6 .contactBox img{
  width: 8%; 
  max-width: 100%;
  position: relative;
  left: 40%; bottom: 30%;
}

.group6 li.partners img {
  max-width: 20%;
  width: 100%; height: 100%;
  padding: 20px;
  
}
.group6 ul.partners {
  border-bottom: 1px solid #464E55;
  padding-bottom: 100px;
}

.group6 h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.group6 .contactBox {
  background-color: #343a40;
  height: 20vh; 
  min-width: 100%;  width: 46vw;
  margin: 20px auto;
  border-radius: 10px;
}

.group6 .contact {
  display: flex;
  flex-flow: column;
  
}

.group6 .contact h3 {
  font-size: 1.8rem;
  padding: 50px 25px;
}

.group6 .contact input#userName, #userEmail,
input[type=button]
{
  width: 46vw;
  min-width: 100%;
  padding: 30px 0;
  margin: 0 auto;
  border-radius: 10px;
  border: none;
  outline: none;
}

.group6 .contact input#userName, #userEmail, #userTxt {
  background-color: #343a40;
  color: white;
}

.group6 .contact #userTxt {
  width: 46vw;
  min-width: 100%;
  height: 70px;
  padding: 30px 0;
  margin: 0 auto;
  border-radius: 10px;
  border: none;
  outline: none;
}

.group6 .contact input[type=button]  {
  background-color: #00C3A4;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  margin: 20px auto;
  margin-bottom: 50px;
  cursor: pointer;
}
.group6 .contact input[type=button]:active {
  outline: 2px solid #fff;
  color: #464E55;
} 

.group6 .contact label {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 1.1em;
}

/*group7*/

.group7 {
  background-color: #343a40;
  margin: 0 auto;
  width: 50vw; min-width: 100%;
  height: 50vh;
}


/* footer */

.footer {
  background-color: rgb(0, 0, 0);
  height: 40vh; width: 50vw;
  min-width: 100%;
  margin: 0 auto;
}

.footer ul.button {
  display: flex;
  justify-content: space-evenly;
}

.footer svg {
  min-height: 30px;
  height: 100%;
  position: relative;
  margin: 0 2vw;
  top: 28vh;
  fill: white;
}

.footer ul.footertxt a {
  color: white;
}

.footer svg:hover {
  transform: rotate(360deg);
  transition: 1s;
  fill: #00C3A4;
}